
<section [ngClass]="!backToChangeBooks?'change-book':'change-book-none'" class="container">
  <div class="container">
    <br />
    <form class="add-book-form" [formGroup]="formBook" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-4 inputs">
          <label for="market">Market</label>
          <select class="form-select form-select-sm"
                  id="market"
                  aria-label=".form-select-sm example"
                  formControlName="market">
                  <option *ngFor="let m of viewMarket | tranformEnum" [ngValue]="m.index" >
              {{m.name}}
            </option>
          </select>
        </div>
      </div>
      <hr />
      <br />
      <div class="row">
          <div class="col-sm12 col-md-4 inputs">
              <label for="name">Book Name</label>
              <input
                    id="name"
                    type="text"
                    class="form-control"
                    required
                    formControlName="name"
                    [ngClass]="{required:nameValid}"/>
              <div class="valid" *ngIf="!nameValid"></div>
              <p *ngIf="formBook.hasError('required', 'name') &&
                    (formBook.get('name')?.touched || formBook.get('name')?.dirty)"
                    class="error-msg">Name is required</p>
              <p *ngIf="(formBook.hasError('minlength', 'name') ||
                     (formBook.hasError('maxlength', 'name'))) &&
                     (formBook.get('name')?.touched || formBook.get('name')?.dirty)"
                      class="error-msg">Name should be between 3 and 100 chararchters.</p>
          </div>
          <div class="col-sm-12 col-md-4 inputs">
            <label for="date">Publication Date</label>
            <input
                  type="number"
                  class="form-control"
                  id="date"
                  required
                  formControlName="dateOfPublish"
                  [ngClass]="{required:dateOfPublishValid}"/>
            <div class="valid" *ngIf="!dateOfPublishValid"></div>
            <p *ngIf="formBook.hasError('required', 'dateOfPublish') &&
                  (formBook.get('dateOfPublish')?.touched || formBook.get('dateOfPublish')?.dirty)"
                    class="error-msg">Publication date is required</p>
            <p *ngIf="(formBook.hasError('min','dateOfPublish')) &&
                  (formBook.get('dateOfPublish')?.touched || formBook.get('dateOfPublish')?.dirty)"
                    class="error-msg">The publication date can not be below 1999</p>
            <p *ngIf="(formBook.hasError('max','dateOfPublish')) &&
                  (formBook.get('dateOfPublish')?.touched || formBook.get('dateOfPublish')?.dirty)"
                    class="error-msg">The publication date can not be above 2050</p>
          </div>
          <div class="col-sm-12 col-md-4 inputs">
            <label for="publisher">Publisher</label>
            <input
                  type="text"
                  class="form-control"
                  id="publisher"
                  required
                  formControlName="publisher"
                  [ngClass]="{required:publisherValid}"/>
            <div class="valid" *ngIf="!publisherValid"></div>
            <p *ngIf="formBook.hasError('required', 'publisher') &&
                  (formBook.get('publisher')?.touched || formBook.get('publisher')?.dirty)"
                    class="error-msg">Publisher is required</p>
            <p *ngIf="(formBook.hasError('maxlength', 'publisher')) &&
                  (formBook.get('publisher')?.touched || formBook.get('publisher')?.dirty)"
                    class="error-msg">Publisher should be less then 50 charachters</p>
          </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-12"></div>
        <div class="col-md-2"></div>
        <div class="co-sm-12 col-md-7 inputs">
          <label for="description">Description</label>
          <textarea
                    rows="7"
                    class="book-add-description"
                    id="description"
                    class="form-control"
                    required
                    formControlName="description"
                    [ngClass]="{required:descriptionValid}"></textarea>
                    <div class="valid" *ngIf="!descriptionValid"></div>
                    <p *ngIf="formBook.hasError('required', 'description') &&
                              (formBook.get('description')?.touched || formBook.get('description')?.dirty)"
                              class="error-msg">Description name is required</p>
                    <p *ngIf="(formBook.hasError('minlength', 'description') ||
                              (formBook.hasError('maxlength', 'description'))) &&
                              (formBook.get('description')?.touched || formBook.get('description')?.dirty)"
                                class="error-msg">Description should be between 10 and 500 charachters.</p>
        </div>
      </div>
      <br />
        <div class="form-group">
          <div class="row">
            <div class="col-sm-12 col-md-3 genre-block">
              <label for="genre1">Genre 1</label>
              <select
                      required
                      class="form-select form-select-sm"
                      aria-label=".form-select-sm example"
                      (change)="changeGenre1($event)"
                      formControlName="genre1"
                      required
                      [ngClass]="{required:genre1Valid}"
              >
                <option *ngFor="let genre of viewGenre | tranformEnum " [value]="genre.index" >
                  {{genre.name}}</option>
              </select>
              <div class="valid" *ngIf="!genre1Valid"></div>
              <p *ngIf="formBook.hasError('required', 'genre1') ||
              (formBook.hasError('min', 'genre1')) &&
                (formBook.get('genre1')?.touched || formBook.get('genre1')?.dirty)"
                class="error-msg">Genre 1 is required</p>
            </div>
            <div class="col-sm-12 col-md-3 genre-block">
              <div class="col form-check genre-check">
                <input class="form-check-input" formControlName="checkedGenre2"
                        (change)="checkedGenre2Enable()" type="checkbox" id="genre2">
                <label class="form-check-label" for="genre2">
                  Genre 2
                </label>
              </div>
              <select
                      class="form-select form-select-sm"
                      aria-label=".form-select-sm example"
                      formControlName="genre2"
                      (change)="changeGenre2($event)"
                      >
                <option *ngFor="let g of viewGenre |tranformEnum" [value]="g.index">{{g.name}}</option>
              </select>
            </div>
            <div class="col-sm-12 col-md-3 genre-block">
              <div class="col form-check genre-check">
                <input class="form-check-input" (change)="checkedGenre3Enable()"
                formControlName="checkedGenre3"
                type="checkbox" value="" id="genre3">
                <label class="form-check-label" for="genre3">
                  Genre 3
                </label>
              </div>
              <select
                      class="form-select form-select-sm"
                      aria-label=".form-select-sm example"
                      formControlName="genre3"
                      (change)="changeGenre3($event)"
                      >
                <option *ngFor="let g of viewGenre |tranformEnum" [value]="g.index" >{{g.name}}</option>
              </select>
            </div>
            <div class="col-sm-12 col-md-3 genre-block">
              <div class="col form-check genre-check">
                <input class="form-check-input" (change)="checkedGenre4Enable()"
                formControlName="checkedGenre4"
                type="checkbox" value="" id="genre4">
                <label class="form-check-label" for="genre4">
                  Genre 4
                </label>
              </div>
              <select
                      required
                      class="form-select form-select-sm"
                      aria-label=".form-select-sm example"
                      formControlName="genre4"
                      (change)="changeGenre4($event)"
                      >
                <option *ngFor="let genre of viewGenre |tranformEnum" [value]="genre.index" >
                  {{genre.name}}
                </option>
              </select>
            </div>
          </div>
        </div>
      <br />
      <div class="row">
          <div class="col-xs-12 col-sm-6 inputs">
            <label for="pages">Pages</label>
            <input
                    required
                    type="number"
                    class="form-control"
                    id="pages"
                    formControlName="pages"
                    [ngClass]="{required:pagesValid}"/>
            <div class="valid" *ngIf="!pagesValid"></div>
            <p *ngIf="formBook.hasError('pages', 'pages') &&
                    (formBook.get('pages')?.touched || formBook.get('pages')?.dirty)"
                      class="error-msg">Pages is Required</p>
            <p *ngIf="(formBook.hasError('min','pages')) &&
                    (formBook.get('pages')?.touched || formBook.get('pages')?.dirty)"
                      class="error-msg">The number of pages can not be less than 20</p>
            <p *ngIf="(formBook.hasError('max','pages')) &&
                    (formBook.get('pages')?.touched || formBook.get('pages')?.dirty)"
                      class="error-msg">The number of pages can not exceed 10000</p>
          </div>
        <div class="col-xs-12 col-sm-6 inputs">
          <label for="country">Country</label>
          <input
                  type="text"
                  class="form-control"
                  id="country"
                  formControlName="country"
                  [ngClass]="{required:countryValid}"/>
          <div class="valid" *ngIf="!countryValid"></div>
          <p *ngIf="formBook.hasError('required', 'country') &&
                  (formBook.get('country')?.touched || formBook.get('country')?.dirty)"
                    class="error-msg">Country is required</p>
          <p *ngIf="(formBook.hasError('minlength', 'country') ||
                  (formBook.hasError('maxlength', 'country'))) &&
                  (formBook.get('country')?.touched || formBook.get('country')?.dirty)"
                    class="error-msg">Country should be between 1 and 4 charachters</p>
          <p *ngIf="(formBook.hasError('pattern','country')) &&
                    (formBook.get('country')?.touched || formBook.get('country')?.dirty)"
                      class="error-msg">Only letters</p>
        </div>
      </div>
      <br />
      <br />
      <div class="row">
        <div class="col-sm-1 col-md-2"></div>
        <div class="col-sm-12 col-md-9 change-photo-block">
          <div class="row">
            <div class="col-5 col-md-3 col-xs-12">
              <img class="book-update-img" src="{{currentImgFileUrl}}"/>
            </div>
            <div class="col-sm-12 col-md-8 change-photo">
              <label for="upload-photo" class="form-label">Change Photo</label>
              <input
                      class="form-control form-control-sm"
                      accept=".jpg, .jpeg, .png"
                      id="upload-photo"
                      formControlName="imageName"
                      type="file"
                      (change)="onFileCange($event)">
              <p *ngIf="!extension" class="error-msg">{{extensionErr}}</p>
              <button type="button"
                      class="btn btn-warning btn-save-img"
                      [disabled]="disableSaveBtn"
                      (click)="saveImage()">
                save</button>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xs-10">
          <button type="submit" [disabled]="(!formBook.valid || !formBook.dirty) || !saveButtonClicked"
                    class="btn btn-outline-light btn-book-submit" >
                  Add
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-9"></div>
    <div class="col-xs-2 col-sm-4 col-md-3">
      <button type="button" class="btn btn-update-back" (click)="backToChangeBook()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-skip-backward" viewBox="0 0 16 16">
          <path d="M.5 3.5A.5.5 0 0 1 1 4v3.248l6.267-3.636c.52-.302 1.233.043 1.233.696v2.94l6.267-3.636c.52-.302 1.233.043 1.233.696v7.384c0 .653-.713.998-1.233.696L8.5 8.752v2.94c0 .653-.713.998-1.233.696L1 8.752V12a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5zm7 1.133L1.696 8 7.5 11.367V4.633zm7.5 0L9.196 8 15 11.367V4.633z"/>
        </svg>
        Back
      </button>
    </div>
  </div>
</section>


