
.link{
  background-color: rgb(0, 0, 0);
  border-bottom: 0.5px solid rgba(102, 4, 4, 0.9);
  border-left: 2.5px double rgba(197, 8, 8, 0.7);
  border-right: 2.5px double rgba(241, 91, 91, 0.7);
  margin-bottom: 50px;
  border-radius: 10px;
  padding-left: 15px;
  font-family:'Roboto Mono';
}
.link > h3{
  box-shadow: 3px 1px 10px rgb(191, 208, 235) inset;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 2px 10px;
  font-size: 1.2em;
  padding: 10px 30px;
  text-shadow: 1px 2px, 2px  rgb(37, 89, 231);
  color: rgb(255, 255, 255);
  font-family:'Roboto Mono';
  letter-spacing: 1.2px;
}
.link-name{
  text-decoration: underline;
  border-left: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
.link-name::before{
  content: 'Book Shop: ';
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
}
.link-name-eng::before{
  content: 'Book Shop: ';
}
.link-name-mkd::before{
  content: 'Книжарница: ';
}
.link-block{
  display: flex;
  justify-content:space-evenly;
}
.link-text{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ebb36b;
  font-weight: bolder;
  letter-spacing: 1.4px;
 }

.link-text > a{
  color: #dbdcdf;
  text-shadow: 1px 1px  #3677d8;
  margin-left: 80px;
  border: 1px solid rgb(83, 64, 1);
  padding: 6px;
  background-color: rgb(75, 74, 74);
  font-size: 0.8rem;
  border-radius: 6px;
}
.link-text > a:hover{
  background-color: rgb(148, 148, 148);
}
@media screen and (max-width: 466px) {
  .link-block{
    flex-direction: column;
  }
  .link-name{
    font-size: 1.1rem;
  }
  .link-text{
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 300px){
  .link-text > a{
    margin-left: 10px;
  }
}
