.books-table-heading{
  font-size: 2.1rem;
  font-family:'Roboto Mono';
  color: rgb(0, 0, 0);
  letter-spacing: 1.6px;
}
.books-table{
  padding: 10px 70px;
  display: block;
  background-color: rgba(163, 163, 163, 1);
}
table{
  width: 100%;
}
table, th, td{
  border: 1px solid rgb(212, 203, 203);
  border-collapse:separate;
}
td{
  border-radius: 7px;
  padding: 5px 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
th{
  background-color: rgb(24, 24, 24);
  color: rgb(212, 203, 203);
  text-align: center;
}
tr:nth-child(even){
  background-color: rgba(62, 15, 170,0.8);
  color: rgb(212, 203, 203);
}
tr:nth-child(odd){
  box-shadow: 1px 1px 23px 8px rgb(11, 137, 196) inset;
}
td > button{
  font-size: 0.9rem;
  font-family: cursive;
  border-radius: 50px;
}
.btn-links{
  background-color: rgba(255, 255, 255, 0.8);
}
.btn-update{
  background-color: rgba(3, 141, 33, 0.8);
  color: rgb(214, 255, 64);
}
.btn-delete{
  background-color: rgb(124, 1, 1);
  color: rgb(255, 255, 255);
}
.mobile-view-books{
  display: none;
}

.books-table-none{
  display: none;
}
.modal-content{
  margin-top: 150px;
  background: linear-gradient(90deg, rgba(0,0,0,1) 15%, rgba(136, 136, 136, 0.467) 50%, rgba(0,0,0,1) 87%);
  color: rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: 1px 1px 30px 2px rgba(255, 255, 255,0.2);
}
.modal-title{
  font-weight: 800;
  font-size: 1.8rem;
  font-family:'Roboto Mono';
  letter-spacing: 1.8px;
}
@media screen and (max-width: 950px) {
  .books-table{
    padding-left: 0;
  }
  th, td{
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 736px) {
  th:nth-child(5), td:nth-child(5),th:nth-child(4), td:nth-child(4){
    display: none;
  }
}
@media screen and (max-width: 568px) {
  th:nth-child(6), td:nth-child(6),th:nth-child(7), td:nth-child(7){
    display: none;
  }
}
@media screen and (max-width: 467px) {
  th:nth-child(1), td:nth-child(1),th:nth-child(2), td:nth-child(2){
    display: none;
  }
}
@media screen and (max-width: 356px) {
  table{
    display: none;
  }
  .mobile-view-books{
    display: flex;
    flex-direction: column;
    width: 90vw;
    padding-bottom: 20px;
  }
  .books-heading > h5{
    font-size: 0.9rem;
    font-weight: 900;
    margin-bottom: 10px;
  }
  .books-btns{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    padding-bottom: 20px;
  }
  .btn-links, .btn-update{
    margin-bottom: 15px;
  }
}
