<section [ngClass]="displayLinks && displayUpdateBook?'books-table':'books-table-none'" >
  <br />
  <h3 class="books-table-heading">Books Table</h3>
  <br />
  <hr />
  <br />
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>market</th>
        <th>name</th>
        <th>publication date</th>
        <th>publisher</th>
        <th>pages</th>
        <th>country</th>
        <th colspan="3">options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books; let i = index">
        <td>{{i+1}}</td>
        <td>{{viewMarket[book.market]}}</td>
        <td>{{book.name}}</td>
        <td>{{book.dateOfPublish}}</td>
        <td>{{book.publisher}}</td>
        <td>{{book.pages}}</td>
        <td>{{book.country | uppercase}}</td>
        <td>
          <button class="btn-links" type="button" (click)="toogleLinks(book.id)">Links</button>
        </td>
        <td>
          <button class="btn-update" type="button" (click)="toogleUpdate(book)">Update</button>
        </td>
        <td>
          <button class="btn-delete" type="button" (click)="removeBook(book.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="mobile-view-books" *ngFor="let book of books">
    <div class="books-heading" >
      <h5>{{book.name}}</h5>
    </div>
    <div class="books-btns">
      <button class="btn-links" type="button" (click)="toogleLinks(book.id)">Links</button>
      <button class="btn-update" type="button" (click)="toogleUpdate(book)">Update</button>
      <button class="btn-delete" type="button" (click)="removeBook(book.id)">Delete</button>
    </div>
  </div>
  <br />
  <hr />
  <br />
</section>

<app-change-links
  [hyperLinks]="hpLinks"
  [backToChangeBooks]="displayLinks"
  [bookId]="bookId"
  (sendBackToChangeBook)="fromChangeLinks($event)"
></app-change-links>
<app-update-book
  [book]="book"
  [backToChangeBooks]="displayUpdateBook"
  (backToChangeBookEvent)="fromUpdateBook($event)"
  >
</app-update-book>
