<section class="admin-navigation">
  <h2>Welcome Ksenija</h2>
    <nav class="admin-nav">
      <button routerLink="private-press" type="button" class="btn btn-primary">change press</button>
      <button routerLink="private-book" type="button" class="btn btn-info">change books</button>
      <button routerLink="private-contact" type="button" class="btn btn-outline-dark">contact messages</button>
      <button routerLink="private-all-users" type="button" class="btn btn-danger">all users</button>
    </nav>
</section>

<router-outlet></router-outlet>

